@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: #0a0a0a;
    --background: #a69c9c;
  }
} */

body {
  background: #f1f1f1;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
